.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  height: 100vh;
  background-image: linear-gradient(rgb(23, 4, 86), rgb(57, 1, 59));
  font-size: calc(10px + min(1vw, 1vh));
  box-sizing: border-box;
  position: relative;
}

.Thread{
  display: flex;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: none;
  z-index: 6000;
}

.chatContainer{
  height: 90%;
  width: 100%;
  box-shadow:#1A194F 0 .15em .3em -.1em inset;
  padding: 1em;
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.chatMessages{
  display: flex;
  background-image: linear-gradient(rgb(60, 17, 201), rgb(57, 1, 59));
  border-radius: 10px;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 1em;
  margin: 0;
  box-sizing: border-box;
  overflow-y: auto;
  justify-content: flex-start;
  position: relative;
}

.chatMessage{
  height: auto;
  white-space: normal;
  word-wrap: break-word;
  width: 80%;
  border-radius: 20px;
  padding: 1em;
  background-color: white;
  align-self: flex-start;
  position: relative;
  margin-bottom: 1.3em;
  opacity: 90%;
  box-sizing: border-box;
}

.threadMessageLabel{
  height: auto;
  color: white;
  font-size: 70%;
  width: 100%;
  position: absolute;
  bottom: -1.6em;
  box-sizing: border-box;
}

.threadMessageLabel span{
  font-weight: 800;
  font-size: 120%;
}

.chatInput input{
  box-shadow: inset 0 0 .5em .2em black;
  border-radius: 30px;
  padding: 1em;
  height: 100%;
  width: 80%;
  box-sizing: border-box;
  resize: none;
  font-size: 80%;
}

.chatInput{
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  flex-direction: row;
  display: flex;
}

.chatInputContainer{
  height: 18%;
  display: flex;
  
  margin-top: .5em;
}

.main button{
  font-size: 2em;
  margin-top: .5em;
  width: 80%;
  align-self: center;
  border-radius: 5px;
}

.alignRight{
  align-self: flex-end;
}

.light{
  color: white;
  cursor: pointer;
  border-radius: 10px;
  font-size: 1.2em;
  padding: .3em;
  box-sizing: border-box;
}

.main h2{
  color: white;
}


.light:hover{
  background-color: white;
  color: black;
}

.alignRight .threadMessageLabel{
  text-align: right;
  padding-right: 1.5em;
}


#sendButton{
  height: 50%;
  width: 25%;
  margin: .2em 0 .2em .2em;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #586af1;
}

@media (max-aspect-ratio: 1/1) {

.main input{
  font-size: 1.2em;
  width: 75%;
}

.main{
  padding: .5em;
}

.threadMessageLabel{
  height: 1em;
  color: white;
  font-size: 70%;
  width: 100%;
  position: absolute;
  bottom: -1.6em;
  box-sizing: border-box;
}

.chatMessage{
  margin-bottom: 3em;
}
}

